html {
  background-color: white; }

body, p, ol, ul, td {
  font: normal normal 400 1em/1.5em Georgia, serif;
  text-rendering: optimizelegibility; }

#screen {
  margin: 0px auto;
  padding: 3em 0px;
  width: 58.875em; }

.central700 {
  padding: 0;
  margin: 0px auto;
  width: 700px;
  background-color: white; }

#footer {
  margin: 3em;
  text-align: center;
  text-transform: uppercase;
  font-size: 75%;
  letter-spacing: 0.1em;
  line-height: 2em;
  word-spacing: 1em; }
  #footer a {
    text-decoration: none;
    color: #c00; }

a:link {
  text-decoration: underline;
  color: #0c567d; }

a:visited {
  text-decoration: underline;
  color: #0c567d; }

a:hover {
  text-decoration: underline;
  color: #c33; }

a:active .container a:focus {
  text-decoration: underline;
  color: #000; }

#headshot {
  float: right;
  padding: 1px;
  margin: 10px 20px; }
  #headshot img {
    border: 1px solid #c00; }

q:lang(en) {
  quotes: '"' '"' "'" "'"; }

q:before {
  content: open-quote; }

q:after {
  content: close-quote; }

ul#papers li span.in {
  font-style: italic; }
